services:
    php:
        image: php:8.4-cli
        container_name: php-app
        working_dir: /var/www/html
        volumes:
            - .:/var/www/html
        command: php -S 0.0.0.0:8000
        ports:
            - "8000:8000"

    mysql:
        image: mysql:8.4
        environment:
            MYSQL_ROOT_PASSWORD: password
            MYSQL_DATABASE: test
        volumes:
            - ./data:/var/lib/mysql
        ports:
            - "3306:3306"